.navbar {
    min-height: 70px;
}

.navbar-default {
    border: 0;
    background-color: #000000;
}

.navbar-default .navbar-nav li {
    background-color: transparent;
}

.navbar-default .navbar-nav li a {
    position: relative;
    z-index: 0;
    margin: 0 10px;
    padding: 25px 0;
    text-transform: uppercase;
    color: #FFC338;
    background-color: #000000;
    font-size: 13px;
    font-weight: 700;
}

.navbar-default .navbar-nav li a:active,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:visited {
    color: #FFC338;
    background-color: #000000;
}

.navbar-default .navbar-nav li a:before {
    position: absolute;
    z-index: 999;
    bottom: 23px;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 2px;
    content: " ";
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    background-color: #FFC338;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-default .navbar-nav li.active a {
    color: #FFC338;
    background-color: #000000;
}

.navbar-default .navbar-nav li.active a:focus,
.navbar-default .navbar-nav li.active a:hover,
.navbar-default .navbar-nav li.active a:visited {
    color: #FFFFFF;
    background-color: #000000;
}

.navbar-default .navbar-nav li.active a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-default .navbar-brand {
    width: 195px;
    color: #FFC338;
    height: 50px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
}

.navbar-default .navbar-toggle {
    margin-top: 18px;
    border: 1px solid #FFC338;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:hover {
    background-color: #FFC338;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #000000;
}

.navbar-default .navbar-collapse {
    border: 0;
}

@media (max-width: 992px) {
    .navbar-header,
    .navbar-nav > li {
        float: none;
    }

    .navbar-left,
    .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 #FFC338;
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-default .navbar-nav li a::before {
        bottom: 0;
    }

    .collapse.in {
        display: block !important;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        border: 0;
        background-color: transparent;
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        margin-left: 15px;
    }
}

.jumbotron {
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000000;
}

.jumbotron.your-event-intro {
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;
    color: #35A2FF;
    background-size: cover;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.jumbotron.your-event-intro h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
}

.jumbotron.your-event-intro h2 {
    font-size: 28px;
    font-weight: 700;
}

.jumbotron.your-event-intro .your-event-intro-logo {
    margin-top: 35px;
    /* altura logo central */
    margin-bottom: 42px;
    /* altura data central */
}

.jumbotron.your-event-intro .your-event-intro-logo img {
    float: none;
    margin: 0 auto;
}

.jumbotron.your-event-intro .your-event-intro-overlay {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 344px;
    background-image: linear-gradient(-180deg, transparent 0%, rgba(28, 58, 86, 0.9) 100%);
}

.jumbotron.your-event-intro .container {
    position: relative;
    z-index: 10;
}

.jumbotron.negative {
    color: #fff;
    background-image: linear-gradient(-180deg, #1e2933 0%, #1b3a55 140px);
}

.jumbotron.negative span {
    color: #fff;
    background-color: #35A2FF;
    font-weight: 300;
}

@media (max-width: 767px) {
    .jumbotron.your-event-intro h1 {
        font-size: 32px;
    }

    .jumbotron.your-event-intro h2 {
        font-size: 22px;
    }
}

.your-event-section {
    background-color: #1F324F;
}

.your-event-section h1 {
    position: relative;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 32px;
}

.your-event-section h1::before {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #FFFFFF;
}

.your-event-section h1 span {
    position: relative;
    z-index: 3;
    padding-right: 40px;
    padding-left: 40px;
    color: #FFC338;
    background-color: #1F324F;
}

.your-event-section h2 {
    color: #FFFFFF;
    line-height: 20px;
}

.your-event-section p {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;
}

.your-event-section .btn-default,
.your-event-section .btn-default:visited {
    margin-top: 10px;
    border-color: #FFC338;
    background-color: transparent;
    transition: all 0.3s ease-in-out 0s;
}

.your-event-section .btn-default:hover,
.your-event-section .btn-default:visited:hover {
    color: #fff;
    border-color: #FFC338;
    background-color: #FFC338;
}

.your-event-section .thumbnail {
    margin-bottom: 30px;
    border: 0;
    background-color: transparent;
}

.your-event-section .thumbnail img {
    margin-top: 40px;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out 0s;
}

.your-event-section .thumbnail:hover img {
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.45);
}

.your-event-section .thumbnail .caption {
    padding: 0;
}

.your-event-section .thumbnail .caption h3 {
    color: #FFC338;
    font-size: 24px;
    line-height: 26px;
}

.your-event-bheading-lv2,
.your-event-section .thumbnail .caption h4 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.your-event-section .thumbnail .caption p {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}

.your-event-section .thumbnail .caption p a:hover {
    color: #FFC338;
}

.your-event-bheading-lv2 {
    display: block;
    margin-top: 30px;
    text-transform: uppercase;
    color: #FFC338;
    font-size: 24px;
    line-height: 34px;
}

#section-3 .col-md-3 {
    display: inline-block;
    float: none;
    vertical-align: top;
}

#section-6 .col-md-7 {
    margin-bottom: 60px;
}

.your-event-sponsor-diamond,
.your-event-sponsor-gold,
.your-event-sponsor-platinum,
.your-event-sponsor-silver {
    position: relative;
    float: none;
    width: 80%;
    min-height: 1px;
    margin: 0 auto 60px;
    padding-right: 15px;
    padding-left: 15px;
}

.your-event-sponsor-diamond a,
.your-event-sponsor-gold a,
.your-event-sponsor-platinum a,
.your-event-sponsor-silver a {
    display: inline-block;
}

.your-event-sponsor-diamond img {
    max-width: 300px;
    margin-left: 30px;
}

.your-event-sponsor-platinum img {
    max-width: 425px;
}

.your-event-sponsor-gold img {
    max-width: 325px;
}

.your-event-sponsor-silver img {
    max-width: 250px;
}

.your-event-sponsor-patron .col-md-2 {
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .your-event-section h1 {
        font-size: 24px;
    }

    .your-event-section p {
        font-size: 16px;
    }

    .your-event-sponsor-diamond img,
    .your-event-sponsor-gold img,
    .your-event-sponsor-platinum img,
    .your-event-sponsor-silver img {
        width: 100%;
        margin: 20px 0 0;
    }
}

.your-event-map-container {
    position: relative;
    margin-top: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: url(../image/place/place.jpg) no-repeat center center;
    background-size: cover;
    color: white;
}

.your-event-dot-overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../image/base/dot.png);
}

.your-event-map-frame {
    position: relative;
    z-index: 5;
    border-radius: 15px;
    box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.74);
}

dl {
    display: inline-block;
}

dd,
dt {
    float: left;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
}

dt {
    width: 14%;
    color: #BBBBBB;
    font-weight: 400;
}

.your-event-schedule,
dd {
    color: #FFFFFF;
    border-bottom: 1px solid #DEDEDE;
}

dd {
    width: 86%;
}

.your-event-schedule {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #FFC338;
    border-top: 3px solid #75a8d3;
    font-size: 26px;
    font-weight: 300;
    line-height: 24px;
}

.nav-tabs {
    border: 0;
}

.nav-tabs > li > a {
    border-radius: 0;
}

.nav-tabs > li > a:hover {
    border: 0;
}

.nav > li > a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #35A2FF;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #FFFFFF;
    background-color: #FFC338;
    border: none;
    border-bottom-color: transparent;
    cursor: default;
}

.your-event-footer {
    width: 100%;
    margin-top: 100px;
    padding: 23px;
    background-color: #000000;
}

.your-event-footer p {
    margin: 0;
    color: #FFC338;
    font-weight: 700;
}

.footer-brand {
    display: inline-block;
    float: none;
    width: 152px;
    height: 94px;
    margin: 0 auto;
    margin-left: 0 !important;
    background: url(../image/logo_footer.png) no-repeat center center;
}

body {
    margin-top: 70px;
    text-align: center;
    font-family: "Lato", sans-serif;
    background-color: #1F324F;
}

a {
    color: #FFC338;
    transition: all 0.3s ease-in-out 0s;
}

a:hover {
    color: #644b17;
}

.pd-bt-0 {
    padding-bottom: 0;
}

.proposal-button {
    padding: 20px 30px;
    font-size: 22px;
}
