{% extends "base.html" %}
{% block content %}
<section id="content">
    {% block content_title %}

    {% endblock %}


    <div id="section-1" class="jumbotron your-event-intro">
        <div class="your-event-intro-overlay"></div>
        <div class="container">
            <figure class="your-event-intro-logo"><img class="img-responsive" src="{{ SITEURL }}/theme/images/logos/event_logo.svg"
                                                     alt="Your Event - Year">
            </figure>
            <h2>Days of Month of Year</h2>
        </div>
    </div>
    <div id="section-2" class="jumbotron your-event-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-push-1">
                    <h1><span>The event</span></h1>
                    <p>Roll on the floor purring your whiskers off. Sit in a box for hours favor packaging over toy
                        thinking
                        longingly about tuna brine why must they do that, but knock over christmas tree so chew on cable
                        favor packaging over toy. Cough furball into food bowl then scratch owner for a new one attack
                        the
                        dog then pretend like nothing happened for bite nose of your human yet eats owners hair then
                        claws
                        head but sniff other cat's butt and hang jaw half open thereafter, or sleep everywhere, but not
                        in
                        my bed</p>
                </div>
            </div>
        </div>
    </div>
    <div id="section-3" class="jumbotron your-event-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-push-1">
                    <h1><span>Keynotes</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <article class="thumbnail">
                            <div class="col-md-6">
                                <img class="img-circle" src="{{ SITEURL }}/theme/images/keynotes/keynote1.svg" alt="Edward Ribeiro"/>
                            </div>
                            <div class="col-md-6 caption">
                                <div class="col-md-12">
                                    <h3>Catmewster</h3>
                                    <h4>City Purrfect</h4>
                                    <p>Brief description. Be a nyan cat, feel great about it, be annoying 24/7 poop
                                        rainbows
                                        in litter box all day meow meow or kitty scratches couch bad kitty cereal boxes
                                        make
                                        for five star accommodation . Gate keepers of hell climb a tree, wait for a
                                        fireman
                                        jump to fireman then scratch his face, but purrr purr littel cat, little cat
                                        purr
                                        purr for stuff and things chase mice, but sun bathe, for eat plants, meow, and
                                        throw
                                        up because i ate plants</p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="row">
                        <article class="thumbnail">
                            <div class="col-md-6">
                                <img class="img-circle" src="{{ SITEURL }}/theme/images/keynotes/keynote1.svg" alt="Edward Ribeiro"/>
                            </div>
                            <div class="col-md-6 caption">
                                <div class="col-md-12">
                                    <h3>Catmewster</h3>
                                    <h4>City Purrfect</h4>
                                    <p>Brief description. Be a nyan cat, feel great about it, be annoying 24/7 poop
                                        rainbows
                                        in litter box all day meow meow or kitty scratches couch bad kitty cereal boxes
                                        make
                                        for five star accommodation . Gate keepers of hell climb a tree, wait for a
                                        fireman
                                        jump to fireman then scratch his face, but purrr purr littel cat, little cat
                                        purr
                                        purr for stuff and things chase mice, but sun bathe, for eat plants, meow, and
                                        throw
                                        up because i ate plants</p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="row">
                        <article class="thumbnail">
                            <div class="col-md-6">
                                <img class="img-circle" src="{{ SITEURL }}/theme/images/keynotes/keynote1.svg" alt="Edward Ribeiro"/>
                            </div>
                            <div class="col-md-6 caption">
                                <div class="col-md-12">
                                    <h3>Catmewster</h3>
                                    <h4>City Purrfect</h4>
                                    <p>Brief description. Be a nyan cat, feel great about it, be annoying 24/7 poop
                                        rainbows
                                        in litter box all day meow meow or kitty scratches couch bad kitty cereal boxes
                                        make
                                        for five star accommodation . Gate keepers of hell climb a tree, wait for a
                                        fireman
                                        jump to fireman then scratch his face, but purrr purr littel cat, little cat
                                        purr
                                        purr for stuff and things chase mice, but sun bathe, for eat plants, meow, and
                                        throw
                                        up because i ate plants</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="section-5" class="jumbotron your-event-section pd-bt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-push-1">
                    <h1><span>Place</span></h1>
                </div>
            </div>
        </div>
        <div class="your-event-map-container"><span class="your-event-dot-overlay"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="your-event-map-frame embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.4581987687516!2d-48.04662668466707!3d-15.989645988930116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a2a8c49ce3677%3A0x447f05b6f05fa281!2sUniversidade+de+Bras%C3%ADlia+-+Faculdade+do+Gama+%5BFGA%5D!5e0!3m2!1spt-BR!2sbr!4v1532618168914"
                                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-push-1">
                        <h2>Universidade de Brasília - Campus Gama</h2>
                        <p>St. Leste Projeção A - Gama Leste, Brasília - DF</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="section-7" class="jumbotron your-event-section pd-bt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-push-1">
                    <h1><span>Schedule</span></h1>
                </div>
            </div>
            <h2>Schedule Date </h2>
            <div role="tabpanel" class="tab-pane" id="day2">
                <div class="col-md-4">
                    <h3 class="your-event-schedule">Trilha 1</h3>
                    <dl>
                        <dt>8:30</dt>
                        <dd>Credenciamento</dd>
                        <dt>9:00</dt>
                        <dd>
                            Interpretador de BrainFuck em Python <br>
                            <i>Talitha Pumar</i><br>
                            <span class="label label-default">Sala 1</span>
                            <span class="label label-info">Coding Dojo</span>
                        </dd>
                        <dt>11:50</dt>
                        <dd>
                            Almoço <br>
                        </dd>
                        <dt>13:40</dt>
                        <dd>
                            Primeiros passos com git<br>
                            <i>Alexandre Augusto</i><br>
                            <span class="label label-default">Sala 1</span>
                            <span class="label label-info">Tutorial</span>
                        </dd>
                        <dt>16:20</dt>
                        <dd>
                            Coffee Break <br>
                            <span class="label label-default">Sala 4</span>
                        </dd>
                        <dt>17:00</dt>
                        <dd>
                            Encerramento e Sorteios <br>
                            <span class="label label-default">Auditório</span>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <h3 class="your-event-schedule">Trilha 2</h3>
                    <dl>
                        <dt>8:30</dt>
                        <dd>Credenciamento</dd>
                        <dt>9:00</dt>
                        <dd>
                            Deploy com Python e Django usando o Heroku <br>
                            <i>Danilo Rodrigues</i><br>
                            <span class="label label-default">Sala 2</span>
                            <span class="label label-info">Tutorial</span>
                        </dd>
                        <dt>11:50</dt>
                        <dd>
                            Almoço <br>
                        </dd>
                        <dt>13:40</dt>
                        <dd>
                            Oficina de tradução com gettext <br>
                            <i>Otávio Carneiro</i><br>
                            <span class="label label-default">Sala 2</span>
                            <span class="label label-info">Tutorial</span>
                        </dd>
                        <dt>16:20</dt>
                        <dd>
                            Coffee Break <br>
                            <span class="label label-default">Sala 4</span>
                        </dd>
                        <dt>17:00</dt>
                        <dd>
                            Encerramento e Sorteios <br>
                            <span class="label label-default">Auditório</span>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <h3 class="your-event-schedule">Trilha 3</h3>
                    <dl>
                        <dt>8:30</dt>
                        <dd>Credenciamento</dd>
                        <dt>9:00</dt>
                        <dd>
                            Construindo um chatbot com Rasa <br>
                            <i>Izabela Cardoso</i><br>
                            <span class="label label-default">Sala 3</span>
                            <span class="label label-info">Tutorial</span>
                        </dd>
                        <dt>11:50</dt>
                        <dd>
                            Almoço <br>
                        </dd>
                        <dt>13:40</dt>
                        <dd>
                            Python avançado: decoradores, meta classes e coisas que você não deveria usar <br>
                            <i>Fabio Mendes</i><br>
                            <span class="label label-default">Sala 3</span>
                            <span class="label label-info">Tutorial</span>
                        </dd>
                        <dt>16:20</dt>
                        <dd>
                            Coffee Break <br>
                            <span class="label label-default">Sala 4</span>
                        </dd>
                        <dt>17:00</dt>
                        <dd>
                            Encerramento e Sorteios <br>
                            <span class="label label-default">Auditório</span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div id="section-8" class="jumbotron your-event-section pd-bt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-push-1">
                    <h1><span>Patrocinadores</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="your-event-sponsor-diamond"><span class="your-event-bheading-lv2"></span>
                    <a target="_blank" href="https://www.python.org/psf/"><img class="img-responsive"
                                                                               src="{{ SITEURL }}/theme/images/psf-logo.png"
                                                                               alt="Python Software Foundation"></a>
                </div>
            </div>
        </div>
    </div>
    <div id="section-9" class="jumbotron your-event-section pd-bt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-push-1">
                    <h1><span>Apoiadores</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 your-event-sponsor-diamond">
                    <span class="your-event-bheading-lv2"></span>
                    <a target="_blank" href="http://sites.ieee.org/sb-unb/"><img class="img-responsive"
                                                                                 src="{{ SITEURL }}/theme/images/logos/computersociety.png"
                                                                                 alt="IEEE Computer Society"></a>
                </div>
            </div>
        </div>
    </div>

    {% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
