{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 flex three demo">
            <h1>{{post.title}}</h1>
            {{post.content | safe}}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 relative align-self-center">
            <img src="{{ IMAGEPATH }}/dojo/edward.jpg" alt="Mestre {{ post.master }}" class="img-fluid rounded">
        </div>
    </div>
    <p>Artigo criado em: {{ post.date }}</p>

</div>

{% endblock %}